

<div *ngIf="articulos!=null;else espera" class="container">
  <h2>Directorio Establecimientos Educativos Oficiales y Privados de Past</h2>
  <table class="table table-dark table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Sector</th>
      <th>Rector</th>
      <th>Telefono</th>
      <th>Correo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let art of articulos">
      <td>{{art.no}}</td>
      <td>{{art.c_digo}}</td>
      <td>{{art.nombre}}</td>
      <td>{{art.sector}}</td>
      <td>{{art.nombre_rector}}</td>
      <td>{{art.tel_fono}}</td>
      <td>{{art.correo_electr_nico}}</td>

    </tr>
  </tbody>
  </table>
</div>
<ng-template #espera>Esperando Datos...</ng-template>
